<!DOCTYPE html>
<html>
<head>
    <title>蓝鲸后台管理</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../static/css/login.css" rel="stylesheet">
</head>
<body>
    <!-- main -->
    <div class="main">
        <h1>
            蓝鲸后台管理
        </h1>
        <form method="post">
{#            {{ form.hidden_tag() }}#}
{##}
{#            {% for msg in get_flashed_messages()%}#}
{#            <p style="color: #9C1A1C">{{ msg }}</p>#}
{#            {% endfor %}#}
{##}
{#            {{ form.email.label }} {{ form.email() }}#}
{#            {{ form.password.label }} {{ form.password() }}#}
{#            <br />#}
{#            {{ form.submit() }}#}
{#            {{ form.remember_me.label }} {{ form.remember_me() }}#}
{#            <br />#}
{#            <a href="{{ url_for('auth.reg') }}">注册账号</a>#}
        </form>
    </div>
    <div class="footer">
        <p>
            &2021 蓝鲸后台管理 -- 落落
        </p>
    </div>
</body>
</html>